@charset "utf-8";
/* CSS Document */

.aBoard{
	width: 90%;
	height: 94%;
	background-color: orange;
	margin: auto;
}

.aTitle{
	text-align: center;
	height: 50px;
}

.announcement{
	border: solid white thin;
	height: 100px;
	width: 95%;
	
	margin: auto;
	background-color: lightgray;
}